[submodule "external/uhd"]
	path = external/uhd
	url = https://github.com/m4tsuri/uhd.git
	branch = pixdr-android-uhd-4.10
[submodule "external/libusb"]
	path = external/libusb
	url = https://github.com/libusb/libusb.git
[submodule "external/uhd-rs"]
	path = external/uhd-rs
	url = https://github.com/m4tsuri/uhd-rust.git
	branch = pixdr-android
[submodule "external/boost-android"]
	path = external/boost-android
	url = https://github.com/m4tsuri/Boost-for-Android.git
	branch = pixdr-android
[submodule "external/FutureSDR"]
	path = external/FutureSDR
	url = https://github.com/FutureSDR/FutureSDR.git
